
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: brown;
    font-family: 'Inter';
}


nav{
    background-color: #FFFFFF;
    width: 100%;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1600px;
    max-height: 92px;

    margin: 0 auto;
    padding: 16px 120px;
}

.center{
    list-style-type: none;
    display: flex;
    gap: 32px;  
}

.center a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.btn{
    background-color: #30B868;
    color: white;
    border: none;
    padding: 12px 16px;   
    border-radius: 4px;
    font-size: 16px;      
    font-weight: 600;
    cursor: pointer;
}



#hero{
    width: 100%;
    height: 674px;

    background-image: url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    position: relative;
}


.banner-box{
    width: 100%;
}

.banner-content{
    max-width: 1600px; 
    margin: 0 auto;
    padding: 0 120px;    

    position: relative;
    z-index: 1;
}

.banner-content h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
}

.banner-content h1:first-of-type{
    color: #FFFFFF;
}

.banner-content h1:last-of-type{
    color: #30B868;
}

.banner-content p{
    color: #FFFFFF;
    line-height: 24PX;
    font-size: 18px;
    padding: 16px 265px 32px 265px;
    margin-bottom: 32px;
}

.hero-actions{
    display: flex;
    gap: 16px;
    
}

.btn-outline{
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 12px 16px;  
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.tag{
    background-color: #FFFFFF;
    border: none;
    color: #30B868;
    padding: 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    margin-bottom: 16px;
}

.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;   
}