
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    font-family: 'Inter';
}


nav{
    background-color: #FFFFFF;
    width: 100%;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1600px;
    max-height: 92px;

    margin: 0 auto;
    padding: 16px 120px;
}

.center{
    list-style-type: none;
    display: flex;
    gap: 32px;  
}

.center a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.btn{
    background-color: #30B868;
    color: white;
    border: none;
    padding: 12px 16px;   
    border-radius: 4px;
    font-size: 16px;      
    font-weight: 600;
    cursor: pointer;
}



#hero{
    width: 100%;
    height: 674px;

    background-image: url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    position: relative;
}


.banner-box{
    width: 100%;
}

.banner-content{
    max-width: 1600px; 
    margin: 0 auto;
    padding: 0 120px;    

    position: relative;
    z-index: 1;
}

.banner-content h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
}

.banner-content h1:first-of-type{
    color: #FFFFFF;
}

.banner-content h1:last-of-type{
    color: #30B868;
}

.banner-content p{
    color: #FFFFFF;
    line-height: 24PX;
    font-size: 18px;
    padding: 16px 265px 32px 265px;
    margin-bottom: 32px;
}

.hero-actions{
    display: flex;
    gap: 16px;
    
}

.btn-outline{
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 12px 16px;  
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.tag{
    background-color: #FFFFFF;
    border: none;
    color: #30B868;
    padding: 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    margin-bottom: 16px;
}

.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;   
}

.NOTE{
    padding: 0px 120px;
}

.NOTE p, .solbox p{
    font-size: 16px;
    color: #627387;
    padding-bottom: 44PX;
}
.hmsg{
    padding-top: 60px;
    text-align: center;
}
.hmsg h3{
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 16px;
}


.cardimg{
    background-color: #f95555;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    padding: 14px;
}

.box h4{
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: 600px;
}

.box {
    height: 300px;
    width: 322px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px rgb(219, 219, 219);
    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards{
    height: 300px;
    width: 1360px;

    display: flex;
    gap: 24px;
    justify-content: center;

    margin: 0 auto;
}

.sol {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
    margin: 0 auto;
    box-sizing: border-box;
}

.solbox {
    max-width: 1360px;
    width: 100%;
    display: flex;
    gap: 60px;
    justify-content: center;
}


.soldet{
    padding: 102px 0px;
}

.soldet h6{
    color: #30B868;
    font-size: 16px;
    font-weight: 500px;
}


.solbox h1{
    max-width: 700px;
    width: 100%;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 16px;
    line-height: 1.2;
}


ul li {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 16px;
    list-style: none;


    display: flex;
    align-items: center;
    gap: 10px;
}

.redbox {
    max-width: 1600px;
    height: 506px;

    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 120px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
}

.databox{
    background-color: #f7f6f2;
    text-align: center;
    padding: 80px 40px;

    max-width: 1360px;
    width: 100%;
}

.databox h1{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 16px;
}

.databox button {
    display: flex;     
    align-items: center;    
    gap: 10px;

    margin: 0 auto;
}


.databox p{
    font-size: 16px;
    color: #627387;
    padding-bottom: 24px;
}
.low{
    font-size: 16px;
    color: #627387;
    padding-top: 16px;
}

.bluebox{

    background-color: #001931;
    padding-top: 120px;
    padding-left: 120px;
    padding-bottom: 30px;
    padding-right: 120px;
}

.social{
    display: flex;
    justify-content: space-between;

    padding-bottom: 80px;
}

.fotim{
    max-width: 350px;
    width: 100%;
}

.horz{
    max-width: 220px;
    width: 100%;
}

.bluebox p{
    font-size: 16px;
    color: #fafafa;
    text-align: center;
    padding-top: 30px;
}

.bluebox h6{
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;

    padding-bottom: 16px;
}

.links ul{
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
}

.links a{
    max-width: 20px;
    width: 100%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


.btn:hover {
    background-color: #279e58;
    color: #e0f2e9;
    cursor: pointer;
}

.btn-outline:hover {
    background-color: #30B868;
    color: white;
    border-color: #30B868;
    cursor: pointer;
}

a:hover {
    color: #30B868;
    cursor: pointer;
    text-decoration: none;
    background-color: rgba(48, 184, 104, 0.15);
    border-radius: 6px;
    padding: 2px 6px;
}

.bt .btn{
    background-color: #30B868;
    color: white;
    border: none;
    padding: 12px 16px;   
    border-radius: 4px;
    font-size: 16px;      
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

}
  
.bt .btn:hover {
    background-color: #279e58;
    color: #e0f2e9;
    cursor: pointer;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
