
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    font-family: 'Inter';
}


nav{
    background-color: #FFFFFF;
    width: 100%;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1600px;
    max-height: 92px;

    margin: 0 auto;
    padding: 16px 120px;
}

.center{
    list-style-type: none;
    display: flex;
    gap: 32px;  
}

.center a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.btn{
    background-color: #30B868;
    color: white;
    border: none;
    padding: 12px 16px;   
    border-radius: 4px;
    font-size: 16px;      
    font-weight: 600;
    cursor: pointer;
}



#hero{
    width: 100%;
    height: 674px;

    background-image: url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    position: relative;
}


.banner-box{
    width: 100%;
}

.banner-content{
    max-width: 1600px; 
    margin: 0 auto;
    padding: 0 120px;    

    position: relative;
    z-index: 1;
}

.banner-content h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
}

.banner-content h1:first-of-type{
    color: #FFFFFF;
}

.banner-content h1:last-of-type{
    color: #30B868;
}

.banner-content p{
    color: #FFFFFF;
    line-height: 24PX;
    font-size: 18px;
    padding: 16px 265px 32px 265px;
    margin-bottom: 32px;
}

.hero-actions{
    display: flex;
    gap: 16px;
    
}

.btn-outline{
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 12px 16px;  
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.tag{
    background-color: #FFFFFF;
    border: none;
    color: #30B868;
    padding: 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    margin-bottom: 16px;
}

.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;   
}

.NOTE{
    padding: 0px 120px;
}

.NOTE p, .solbox p{
    font-size: 16px;
    color: #627387;
    padding-bottom: 44PX;
}
.hmsg{
    padding-top: 60px;
    text-align: center;
}
.hmsg h3{
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 16px;
}


.cardimg{
    background-color: #f95555;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    padding: 14px;
}

.box h4{
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: 600px;
}

.box {
    height: 300px;
    width: 322px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px rgb(219, 219, 219);
    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards{
    height: 300px;
    width: 1360px;

    display: flex;
    gap: 24px;
    justify-content: center;

    margin: 0 auto;
}

#sol {
    padding: 120px 0px; /* 120px top/bottom and left/right */
    box-sizing: border-box;
    display: flex;                 
    justify-content: center;   
}

.solbox {
    max-width: 1360px;
    width: 100%;
    margin: 0; 
    padding: 0;

    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}



.soldet {
    padding: 102px 0;
}


.soldet h6{
    color: #30B868;
    font-size: 16px;
    font-weight: 500px;
}

.solbox h1{
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    padding: 16px 0;
    line-height: 1.2;
}

ul li {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 16px;
    list-style: none;

    display: flex;
    align-items: center; 
    gap: 10px;
}

.solbox h1 span {
    display: block; 
}
