*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: brown;
}

nav{
    background-color: #FFFFFF;
    margin: 0px;
    padding: 16px 120px 16px 120px;
}
.menu{
    display: flex;
    max-width: 1600px;
    justify-content: space-between;
    width: 100%;
    max-height: 92px;
    margin: 0 auto;
    display: flex;;
    align-items: center;
}

.center {
    list-style-type: none;
    display: flex;
    gap: 32px;
}

.center a{
    text-decoration: none;
    font-size: 16px;
    font-weight:500;
    color: black;
}

.btn{
    background-color: #30B868;
    color: white;
    border: none;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight:600;
    cursor: pointer;
}
#done_with_navbar


#hero {
    padding: 0;
    display: flex;
    justify-content: center;
}

.banner-box {
    padding: 115px 120px 180px 120px;
    background-image: url(assets/hero-bg.png);
    max-width: 1975px;
    justify-content: space-between;
    width: 100%;
    max-height: 674px;
    margin: 0 auto;
}
